openapi: 3.0.1
info:
  title: Dine-Oh
  description: Dine-Oh
  contact:
    name: Dine-Oh
    url: https://www.tecnovators.com
    email: info@tecnovators.com
  license:
    name: Dine-Oh
    url: https://www.tecnovators.com/
  version: v1
servers:
  - url: https://dine-ohapi.tecnovaters.com/api/v1
    description: Development Server
  - url: http://localhost:3700/api/v1
    description: Local Host

paths:
  # AddOn Module
  /add_ons:
    get:
      tags:
        - AddOn
      summary: Fetch all add ons
      description: Returns all add ons from the system
      parameters:
        - name: filter
          in: query
          description: Filter add ons
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched add ons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddOns"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - AddOn
      summary: Creates a new add on
      description: Creates a new add on
      requestBody:
        description: The addon JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOns"
        required: true
      responses:
        "200":
          description: New addon added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddOns"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /add_ons/{id}:
    get:
      tags:
        - AddOn
      summary: Fetch add on
      description: Returns a add on based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of addon to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched addon
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddOns"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - AddOn
      summary: Update add on by its id
      description: Update add on by its id
      parameters:
        - name: id
          in: path
          description: ID of addon to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The addon JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOns"
        required: true
      responses:
        "200":
          description: AddOn updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddOns"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - AddOn
      summary: Delete add on
      description: Deletes a single add on based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of addon to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: addon deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Attachment Module
  /attachments:
    get:
      summary: Get a list of attachments
      tags:
        - Attachment
      description: Retrieve attachments with optional filters, pagination, and sorting.
      parameters:
        - name: filter
          in: query
          description: JSON object to filter the attachments Should be passed as a JSON string
          required: false
          schema:
            type: string
            example: '{"where": {"class": "document"}}'
        - name: limit
          in: query
          description: Limit the number of attachments returned.
          required: false
          schema:
            type: integer
            example: 10
        - name: offset
          in: query
          description: Number of attachments to skip before starting to collect the result set.
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Attachments fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Total count of attachments matching the filter criteria.
                        example: 50
                      rows:
                        type: array
                        description: List of attachments.
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Unique identifier of the attachment.
                              example: 1
                            class:
                              type: string
                              description: Class/type of the attachment.
                              example: "document"
                            is_primary:
                              type: boolean
                              description: Indicates if the attachment is primary.
                              example: true
                            foreign_id:
                              type: integer
                              description: ID of the related entity.
                              example: 5
                            file_name:
                              type: string
                              description: Name of the file.
                              example: "example.pdf"
                            dir:
                              type: string
                              description: Directory where the file is stored.
                              example: "/uploads/documents"
                            file_size:
                              type: integer
                              description: Size of the file in bytes.
                              example: 204800
                            createdAt:
                              type: string
                              format: date-time
                              description: Creation timestamp of the attachment.
                              example: "2024-11-04T10:00:00Z"
                            updatedAt:
                              type: string
                              format: date-time
                              description: Last update timestamp of the attachment.
                              example: "2024-11-04T10:00:00Z"
                  message:
                    type: string
                    example: "Attachments fetched successfully"
        "422":
          description: Unprocessable Entity - Something went wrong
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 422
                  data:
                    type: "null"
                  message:
                    type: string
                    example: "Something Went wrong"
    post:
      summary: Upload the file
      tags:
        - Attachment
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Choose the file to upload
      responses:
        "200":
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "File uploaded successfully"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /attachments/{id}:
    delete:
      summary: delete attachment details
      parameters:
        - name: id
          in: path
          required: true
          type: string

      tags:
        - Attachment
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security:
        - http: []

  # Banner Module
  /banners:
    get:
      tags:
        - Banner
      summary: Fetch all banners
      description: Returns all banners from the system
      parameters:
        - name: filter
          in: query
          description: Filter banners
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched banners
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Banners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Banner
      summary: Creates a new banner
      description: Creates a new banner
      requestBody:
        description: The banner JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Banners"
        required: true
      responses:
        "200":
          description: New banner added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Banners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /banners/{id}:
    get:
      tags:
        - Banner
      summary: Fetch banner
      description: Returns a banner based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of banner to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched banner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Banners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Banner
      summary: Update banner by its id
      description: Update banner by its id
      parameters:
        - name: id
          in: path
          description: ID of banner to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The banner JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Banners"
        required: true
      responses:
        "200":
          description: Banner updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Banners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Banner
      summary: Delete banner
      description: Deletes a single banner based on the ID
      parameters:
        - name: id
          in: path
          description: ID of banner to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: banner deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Cuisine Module
  /cuisines:
    get:
      tags:
        - Cuisine
      summary: Fetch all cuisines
      description: Returns all cuisines from the system
      parameters:
        - name: filter
          in: query
          description: Filter banners
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched cuisine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cuisines"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Cuisine
      summary: Creates a new cuisine
      description: Creates a new cuisine
      requestBody:
        description: The banner JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cuisines"
        required: true
      responses:
        "200":
          description: New banner added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cuisines"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /cuisines/{id}:
    get:
      tags:
        - Cuisine
      summary: Fetch cuisine
      description: Returns a cuisine based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of cuisine to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched cuisine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cuisines"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Cuisine
      summary: Update cuisine by its id
      description: Update cuisine by its id
      parameters:
        - name: id
          in: path
          description: ID of cuisine to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The cuisine JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cuisines"
        required: true
      responses:
        "200":
          description: Cuisine updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cuisines"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Cuisine
      summary: Delete cuisine
      description: Deletes a single cuisine based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of cuisine to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: cuisine deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # DealType Module
  /deals:
    get:
      tags:
        - Deal
      summary: Fetch all deals
      description: Returns all deals from the system
      parameters:
        - name: filter
          in: query
          description: Filter deals
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched deals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Deal
      summary: Creates a new deal
      description: Creates a new deal
      requestBody:
        description: The deal JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Deals"
        required: true
      responses:
        "200":
          description: New deal added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /deals/{id}:
    get:
      tags:
        - Deal
      summary: Fetch deal
      description: Returns a deal based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of deal to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched deal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Deal
      summary: Update deal by its id
      description: Update deal by its id
      parameters:
        - name: id
          in: path
          description: ID of deal to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The deal JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Deals"
        required: true
      responses:
        "200":
          description: Deal updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Deal
      summary: Delete deal
      description: Deletes a single deal based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of deal to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: deal deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # DealType Module
  /deal_types:
    get:
      tags:
        - DealType
      summary: Fetch all deal types
      description: Returns all deal types from the system
      parameters:
        - name: filter
          in: query
          description: Filter deal types
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched deal types
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - DealType
      summary: Creates a new deal type
      description: Creates a new deal type
      requestBody:
        description: The deal type JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealTypes"
        required: true
      responses:
        "200":
          description: New deal type added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /deal_types/{id}:
    get:
      tags:
        - DealType
      summary: Fetch deal type
      description: Returns a deal type based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of deal type to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched deal type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - DealType
      summary: Update deal type by its id
      description: Update deal type by its id
      parameters:
        - name: id
          in: path
          description: ID of deal type to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The deal type JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealTypes"
        required: true
      responses:
        "200":
          description: Deal Type updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - DealType
      summary: Delete deal type
      description: Deletes a single deal type based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of deal type to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: deal type deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Favourite Module
  /favourites:
    get:
      tags:
        - Favourite
      summary: Fetch all favourites
      description: Returns all favourites from the system
      parameters:
        - name: filter
          in: query
          description: Filter cuisines
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched favourites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favourites"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Favourite
      summary: Creates a new favourite
      description: Creates a new favourite
      requestBody:
        description: The favourite JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Favourites"
        required: true
      responses:
        "200":
          description: New favourite added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favourites"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /favourites/{id}:
    get:
      tags:
        - Favourite
      summary: Fetch favourite
      description: Returns a favourite based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of favourite to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched favourite
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favourites"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Favourite
      summary: Update favourite by its id
      description: Update favourite by its id
      parameters:
        - name: id
          in: path
          description: ID of favourite to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The favourite JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Favourites"
        required: true
      responses:
        "200":
          description: Favourite updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favourites"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Favourite
      summary: Delete favourite
      description: Deletes a single favourite based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of favourite to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: favourite deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Group Module
  /groups:
    get:
      tags:
        - Group
      summary: Fetch all Groups
      description: Returns all Groups from the system
      parameters:
        - name: filter
          in: query
          description: Filter Groups
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and name
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and name
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Groups
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Group
      summary: Creates a new Group
      description: Creates a new Group
      requestBody:
        description: The Group JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Groups"
        required: true
      responses:
        "200":
          description: New Group added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /groups/{id}:
    get:
      tags:
        - Group
      summary: Fetch Group
      description: Returns a Group based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of Group to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Group
      summary: Update Group by its id
      description: Update Group by its id
      parameters:
        - name: id
          in: path
          description: ID of Group to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The Group JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Groups"
        required: true
      responses:
        "200":
          description: Group updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Group
      summary: Delete Group
      description: Deletes a single Group based on the ID
      parameters:
        - name: id
          in: path
          description: ID of Group to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Group deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /groups/add_members/{id}:
    put:
      tags:
        - Group
      summary: Add Group Members by its Group id
      description: Add Group Members by its Group id
      parameters:
        - name: id
          in: path
          description: ID of Group to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The Group JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupMembers"
        required: true
      responses:
        "200":
          description: Group updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Groups"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    

  # Google Restaurant Module
  /google_restaurants:
    get:
      tags:
        - Google Restaurants
      summary: Get all Google Restaurants
      description: Returns all Google Restaurants
      parameters:
        - name: filter
          in: query
          description: Filter Google Restaurants
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and name
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and name
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /google_restaurants/{id}:
    get:
      tags:
        - Google Restaurants
      summary: Get single Google Restaurant
      description: Returns particular Google Restaurant
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: number
      responses:
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Influencer Module
  /influencers/signup:
    post:
      tags:
        - Influencer
      summary: Signup a new influencer
      description: Signup a new influencer
      requestBody:
        description: The influencer JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Influencers"
        required: true
      responses:
        "200":
          description: New influencer added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Influencers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /influencers/login:
    post:
      tags:
        - Influencer
      summary: Dine Oh Influencer login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /influencers/forgot_password:
    post:
      tags:
        - Influencer
      summary: Influencer Forgot password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /influencers/verify_otp:
    post:
      summary: Influencer Verify Otp
      tags:
        - Influencer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                otp:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /influencers/reset_password:
    post:
      summary: Influencer Reset Password
      tags:
        - Influencer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                password:
                  type: string
                confirm_password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /influencers/set_password:
    post:
      summary: Influencer Set Password
      tags:
        - Influencer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /influencers:
    get:
      tags:
        - Influencer
      summary: Fetch all influencers
      description: Returns all influencers from the system
      parameters:
        - name: filter
          in: query
          description: Filter influencers
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched influencers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Influencers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Influencer
      summary: Creates a new influencer
      description: Creates a new influencer
      requestBody:
        description: The influencer JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Influencers"
        required: true
      responses:
        "200":
          description: New influencer added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Influencers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /influencers/{id}:
    get:
      tags:
        - Influencer
      summary: Fetch influencer
      description: Returns a influencer based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of influencer to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Influencer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Influencers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Influencer
      summary: Update influencer by its id
      description: Update influencer by its id
      parameters:
        - name: id
          in: path
          description: ID of influencer to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The influencer JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Influencers"
        required: true
      responses:
        "200":
          description: Influencer updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Influencers"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Influencer
      summary: Delete influencer
      description: Deletes a single influencer based on the ID
      parameters:
        - name: id
          in: path
          description: ID of influencer to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Influencer deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /auth/youtube:
    get:
      tags:
        - Influencer
      summary: YouTube Signup 
      description: Signup a new user in YouTube Authentication
      
      responses:
        "200":
          description: New user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /auth/youtube/login:
    post:
      tags:
        - Influencer
      summary: Dino Oh YouTube login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: test@gmail.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /auth/instagram:
    get:
      tags:
        - Influencer
      summary: Instagram Signup 
      description: Signup a new user in Instagram Authentication
      
      responses:
        "200":
          description: New user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /auth/instagram/login:
    post:
      tags:
        - Influencer
      summary: Dino Oh Instagram login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: test@gmail.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
        

  # Item Module
  /items:
    get:
      summary: Fetch all items
      description: Returns all items from the system
      parameters:
        - name: filter
          in: query
          description: Filter items
          required: false
          type: string
          format: string
        - name: q
          in: query
          description: Keywords to search
          required: false
          type: string
          format: string
        - in: query
          name: latitude
        - in: query
          name: longitude
        - in: query
          name: radius
        - in: query
          name: limit
          type: integer
        - in: query
          name: offset
          type: integer
      tags:
        - Item
      responses:
        200:
          description: Fetched items
          schema:
            $ref: "#/definitions/Items"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
      security:
        - http: []
    post:
      tags:
        - Item
      summary: Creates a new item
      description: Creates a new item
      requestBody:
        description: The item JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addItem"
        required: true
      responses:
        "200":
          description: New item added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /items/{id}:
    get:
      tags:
        - Item
      summary: Fetch all items
      description: Returns all items from the system
      parameters:
        - name: filter
          in: query
          description: Filter item
          required: false
          type: string
          format: string
        - name: id
          in: path
          description: ID of item to fetch
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: Fetched Item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Item
      summary: Update item by its id
      description: Update item by its id
      parameters:
        - name: id
          in: path
          description: ID of influencer to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The item JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addItem"
        required: true
      responses:
        "200":
          description: Item updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Item
      summary: Delete item
      description: Deletes a single item based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of item to delete
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: Item deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # ItemType Module
  /item_types:
    get:
      tags:
        - ItemType
      summary: Fetch all item types
      description: Returns all item types from the system
      parameters:
        - name: filter
          in: query
          description: Filter item types
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched item types
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - ItemType
      summary: Creates a new item type
      description: Creates a new item type
      requestBody:
        description: The item type JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemTypes"
        required: true
      responses:
        "200":
          description: New item type added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /item_types/{id}:
    get:
      tags:
        - ItemType
      summary: Fetch item type
      description: Returns a item type based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of item type to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched item type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - ItemType
      summary: Update item type by its id
      description: Update item type by its id
      parameters:
        - name: id
          in: path
          description: ID of item type to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The item type JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemTypes"
        required: true
      responses:
        "200":
          description: Item Type updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemTypes"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - ItemType
      summary: Delete item type
      description: Deletes a single item type based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of item type to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: item type deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Menu Module
  /menus:
    get:
      tags:
        - Menu
      summary: Fetch all menus
      description: Returns all menus from the system
      parameters:
        - name: filter
          in: query
          description: Filter menus
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched menus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Menus"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Menu
      summary: Creates a new menu
      description: Creates a new menu
      requestBody:
        description: The menu JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Menus"
        required: true
      responses:
        "200":
          description: New menu added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Menus"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /menus/{id}:
    get:
      tags:
        - Menu
      summary: Fetch menu
      description: Returns a menu based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of menu to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched menu
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Menus"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Menu
      summary: Update menu by its id
      description: Update menu by its id
      parameters:
        - name: id
          in: path
          description: ID of menu to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The menu JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Menus"
        required: true
      responses:
        "200":
          description: Menu updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Menus"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Menu
      summary: Delete menu
      description: Deletes a single menu based on the ID supplied
      parameters:
        - name: id
          in: path
          description: ID of menu to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: menu deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Restaurant Module
  /restaurants:
    get:
      tags:
        - Restaurant
      summary: Fetch all restaurants
      description: Returns all restaurants from the system
      parameters:
        - name: filter
          in: query
          description: Filter restaurants
          schema:
            type: string
            format: string
        - name: cuisineId
          in: query
          description: cuisineId of id
          schema:
             type: number
             format: number
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched restaurants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Restaurant
      summary: Creates a new restaurant
      description: Creates a new restaurant
      requestBody:
        description: The restaurant JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Restaurants"
        required: true
      responses:
        "200":
          description: New restaurant added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /restaurants/nearest:
    get:
      tags:
        - Restaurant
      summary: Fetch all near by restaurants
      description: Returns all near by restaurants from the system
      parameters:
        - name: filter
          in: query
          description: Filter restaurant
          required: false
          type: string
          format: string
        - name: q
          in: query
          description: Keywords to search
          required: false
          type: string
          format: string
        - in: query
          name: latitude  
        - in: query
          name: longitude
        - in: query
          name: radius  
        - in: query
          name: limit 
          type: integer 
          format: int64
        - in: query
          name: offset  
          type: integer
          format: int64
          
      responses:
        "200":
          description: Fetched restaurants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
       
  /restaurants/{id}:
    get:
      tags:
        - Restaurant
      summary: Fetch restaurant
      description: Returns a restaurant based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of restaurant to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched restaurant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Restaurant
      summary: Update restaurant by its id
      description: Update restaurant by its id
      parameters:
        - name: id
          in: path
          description: ID of restaurant to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The restaurant JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Restaurants"
        required: true
      responses:
        "200":
          description: Restaurant updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Restaurant
      summary: Delete restaurant
      description: Deletes a single restaurant based on the ID
      parameters:
        - name: id
          in: path
          description: ID of restaurant to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Restaurant deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Restaurant Profile Module
  /restaurant_profile/signup:
    post:
      tags:
        - RestaurantProfile
      summary: Signup a new restaurant
      description: Signup a new restaurant
      requestBody:
        description: The restaurant JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantSignUp"
        required: true
      responses:
        "200":
          description: New restaurant profile added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantOwners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /restaurant_profile/login:
    post:
      tags:
        - RestaurantProfile
      summary: Dine Oh Restaurant login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /restaurant_profile/forgot_password:
    post:
      tags:
        - RestaurantProfile
      summary: Restaurant Profile Forgot password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /restaurant_profile/verify_otp:
    post:
      summary: Restaurant Profile Verify Otp
      tags:
        - RestaurantProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                otp:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /restaurant_profile/reset_password:
    post:
      summary: Restaurant Profile Reset Password
      tags:
        - RestaurantProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                password:
                  type: string
                confirm_password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /restaurant_profile/set_password:
    post:
      summary: Restaurant Profile Set Password
      tags:
        - RestaurantProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /restaurant_profile:
    get:
      tags:
        - RestaurantProfile
      summary: Fetch all restaurant profiles
      description: Returns all restaurant profiles from the system
      parameters:
        - name: filter
          in: query
          description: Filter restaurant profiles
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and date
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and date
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched restaurant profiles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantOwners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - RestaurantProfile
      summary: Creates a new restaurant profile
      description: Creates a new restaurant profile
      requestBody:
        description: The restaurant profile JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantOwners"
        required: true
      responses:
        "200":
          description: New restaurant profile added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantOwners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /restaurant_profile/{id}:
    get:
      tags:
        - RestaurantProfile
      summary: Fetch restaurant profile
      description: Returns a restaurant profile based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of restaurant profile to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched restaurant profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantOwners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - RestaurantProfile
      summary: Update restaurant profile by its id
      description: Update restaurant profile by its id
      parameters:
        - name: id
          in: path
          description: ID of restaurant profile to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The restaurant profile JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantOwners"
        required: true
      responses:
        "200":
          description: Restaurant Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Restaurants"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - RestaurantProfile
      summary: Delete restaurant profile
      description: Deletes a single restaurant profile based on the ID
      parameters:
        - name: id
          in: path
          description: ID of restaurant profile to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Restaurant Profile deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

    # Review Module

  # Reviews
  /reviews:
    get:
      tags:
        - Restaurant Reviews
      summary: Fetch all Reviews
      description: Returns all Reviews from the system
      parameters:
        - name: filter
          in: query
          description: Filter Reviews
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Reviews
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Restaurant Reviews
      summary: Creates a new Restaurant Review
      description: Creates a new Restaurant Review
      requestBody:
        description: The Restaurant Review JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantReviews"
        required: true
      responses:
        "200":
          description: New Restaurant Review added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /reviews/{id}:
    get:
      tags:
        - Restaurant Reviews
      summary: Fetch Review
      description: Returns a Review based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of Review to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Review
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Restaurant Reviews
      summary: Update Restaurant Review by its id
      description: Update Restaurant Review by its id
      parameters:
        - name: id
          in: path
          description: ID of Restaurant Review to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The Restaurant Review JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantReviews"
        required: true
      responses:
        "200":
          description: Restaurant Review updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Restaurant Reviews
      summary: Delete Restaurant Review
      description: Deletes a single Restaurant Review based on the ID
      parameters:
        - name: id
          in: path
          description: ID of Restaurant Review to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Restaurant Review deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /reviews_for_all_restaurant:
    get:
      tags:
        - Restaurant Reviews
      summary: Fetch all Restaurant Reviews
      description: Returns all Restaurant Reviews from the system
      parameters:
        - name: filter
          in: query
          description: Filter Restaurant Reviews
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Restaurant Reviews
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /reviews_for_single_restaurant/{id}:
    get:
      tags:
        - Restaurant Reviews
      summary: Fetch single Restaurant Review
      description: Returns a single Restaurant Review based on a single ID
      parameters:
        - name: id
          in: path
          description: Restaurant ID
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched Restaurant Review
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestaurantReviews"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # Roles
  /roles:
    get:
      tags:
        - Roles
      summary: Fetch all roles
      description: Returns all roles from the system
      parameters:
        - name: filter
          in: query
          description: Filter roles
          schema:
            type: string
            format: string
        - name: searchField
          in: query
          description: search field of id and first_name
          schema:
            type: string
            format: string
        - name: searchString
          in: query
          description: search string of id and first_name
          schema:
            type: string
            format: string
        - name: offset
          in: query
          schema:
            type: number
            format: number
        - name: limit
          in: query
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched all roles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    post:
      tags:
        - Roles
      summary: Creates a new roles
      description: Creates a new roles
      requestBody:
        description: The roles JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Roles"
        required: true
      responses:
        "200":
          description: New roles added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /roles/{id}:
    get:
      tags:
        - Roles
      summary: Fetch roles
      description: Returns a roles based on a single ID
      parameters:
        - name: id
          in: path
          description: ID of roles to fetch
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Fetched roles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
    put:
      tags:
        - Roles
      summary: Update roles by its id
      description: Update roles by its id
      parameters:
        - name: id
          in: path
          description: ID of roles to update
          required: true
          schema:
            type: number
            format: number
      requestBody:
        description: The roles JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Roles"
        required: true
      responses:
        "200":
          description: Role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - Roles
      summary: Delete Role
      description: Deletes a single role based on the ID
      parameters:
        - name: id
          in: path
          description: ID of role to delete
          required: true
          schema:
            type: number
            format: number
      responses:
        "200":
          description: Role deleted
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []

  # User Module
  /signup:
    post:
      tags:
        - User
      summary: Signup a new user
      description: Signup a new user
      requestBody:
        description: The users JSON you want to post
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Users"
        required: true
      responses:
        "200":
          description: New user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Users"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /login:
    post:
      tags:
        - User
      summary: Dino Oh User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /admin/login:
    post:
      tags:
        - User
      summary: Admin login and Super admin login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /auth/google:
    get:
      tags:
        - User
      summary: Google Signup 
      description: Signup a new user in Google Authentication
      
      responses:
        "200":
          description: New user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /auth/google/login:
    post:
      tags:
        - User
      summary: Dino Oh Google login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: test@gmail.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /auth/facebook:
    get:
      tags:
        - User
      summary: Facebook Signup 
      description: Signup a new user in Facebook Authentication
      
      responses:
        "200":
          description: New user added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /auth/facebook/login:
    post:
      tags:
        - User
      summary: Dino Oh Facebook login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: test@gmail.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codegen-request-body-name: body
  /forgot_password:
    post:
      tags:
        - User
      summary: Forgot password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
      x-codegen-request-body-name: body
  /verify_otp:
    post:
      summary: Verify Otp
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
                otp:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /reset_password:
    post:
      summary: Reset Password
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                password:
                  type: string
                confirm_password:
                  type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "default":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - http: []
  /change_password:
    post:
      summary: Change Password
[...]
